.input1{
    width: 100%;
    padding: 2px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgb(23, 162, 184)
}

textarea:focus{
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0px 0px rgba(255, 255, 255)inset, 0 0 0px rgba(255, 255, 255);
    outline: 0 none !important;
}

.c-pointer{
    cursor: pointer;
}

img{
    width: 30px;
    height: 30px;
}