<div class="container">
    <div class="row mt-1">
        <div class="col-12">
            <p class="h4 text-info">Crear flujo de comunicación</p>
        </div>
    </div>
    <div class="row mt-1 ">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item" *ngFor="let tab of tabs">
                    <a class="nav-link active">{{tab.paso}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Selecciona un elemento
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <form class="w-100">
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fa fa-search pt-2"></span>
                                    </div>
                                    <input type="search" class="form-control" placeholder="Busqueda de opciones"
                                        name="filterOpciones" [(ngModel)]="filterOpciones">
                                </div>
                            </form>
                            <div class="row mt-4">
                                <div class="col-6">
                                    <p class="h6 text-info">OPCIONES</p>
                                </div>
                                <div class="col-6">
                                    <hr class="bg-info">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="pt-2 pb-2 h pl-2"
                                        *ngFor="let opcion of opciones | search: filterOpciones" data-toggle="collapse"
                                        data-target="#collapseOne" routerLink="{{opcion.route}}"
                                        routerLinkActive="router-link-active">
                                        <a><span class="fa fa-{{opcion.icon}}  text-info mr-2"></span>{{opcion.name}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="row">
                <div class="col-12">
                        <router-outlet></router-outlet>  
                </div>
                          
            </div>
            <div class="row mb-2">
                <div class="col-12 ">
                    <button class="btn btn-info float-right" (click)="addTabs()" >Siguiente</button>
                </div>

            </div>

        </div>
    </div>

</div>