<div class="border p-2">
    <div class=" p-2">
        <p class="text-info"><span class="fa fa-{{icon}}"></span> {{name}}</p>
    </div>
  
        <div class="mt-2">
            <label for=""><span class="fa fa-arrow-circle-right text-info"></span> Para</label>
            <button class="btn btn-info btn-block" data-toggle="modal" data-target="#ModalTags">Tags</button>
        </div>
        <div class="form-group mt-4">
            <label for="inputState"><span class="fa fa-arrow-circle-left text-info"></span> De</label>
            <select id="inputState" class="form-control" (change)="changeCodigo($event)">
                <option value="" disabled>codigo</option>
                <option value="890703">890703</option>
                <option value="890903">890903</option>
                <option value="890901">890901</option>
            </select>
        </div>
        <div class="form-group mt-4">
            <label> <i class="fa fa-address-card text-info"></i> Contenido del mensaje</label>
            <label class="float-right"><small>{{mensajes}} mensaje / {{contador}} caracteres</small> </label>
            <textarea class="form-control" name="contenido" [(ngModel)]="contenido" (keyup)="onKey($event)"
                rows="8"></textarea>
        </div>
        <div>
            <button class="btn btn-info btn-block " (click)="send()">Guardar</button>
        </div>
</div><br>




<!-- Modal -->
<div class="modal fade" id="ModalTags" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Tag</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="limpiarArray()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-check">
                    <div class="row">
                        <div class="col-md-4 pt-3" *ngFor="let check of tags">
                            <input type="checkbox" name="miDataInterior"
                                (change)="$event.target.checked ? agregar(check) : quitar(check)">&nbsp;
                            {{check.nombre_tag}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="limpiarArray()"
                    data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>