<div class="p-3" style="background-color: rgb(238, 236, 236); height: 960px;">
    <div class="border w-25 bg-white rounded p-4 d-flex align-items-center">
        <div class="d-inline"><span class="fa fa-play fa-2x text-info"></span></div>
        <div class="d-inline ml-4">Puntos de entrada</div>
    </div>



    <div class="border w-25 bg-info rounded p-2 d-flex align-items-center">
            <div class="d-inline"><span class="fa fa-play  text-white"></span></div>
            <div class="d-inline ml-4">Tags Seleccionados</div>
    </div>
</div>