<div class="container"><br>
    <div class="row">
        <div class="col-12">
            <div class="d-inline text-info h4">Registro Masivo </div>
            <div class="d-inline  text-info float-right">
                <button class="btn btn-info mb-1" data-toggle="modal" data-target="#exampleModalCenter" ><span class="fa fa-upload"></span>&nbsp;Adjuntar Personas
                </button>
            </div>
        </div>
    </div><br><br>
    <div class="row">
        <form class="w-100 pr-2 pl-2">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text fa fa-search pt-2"></span>
                </div>
                <input type="search" class="form-control" placeholder="Busqueda de personas"  name="filterPeople" [(ngModel)]="filterPeople" >
            </div>
        </form>
    </div>
    <div class="row mt-3">
        <div class="w-100 border ml-2 mr-2 p-1">
            <h6>Resumen</h6>
            <hr>
            <div class="m-4 text-center">
                <i class="fa fa-comments text-info fa-5x">
                    <p class="d-inline h4 ml-3">{{total}} Personas</p>
                </i>
            </div>
        </div>
    </div><br>
    <div class="row pr-2 pl-2">
        <table class="table ">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th scope="col">Nombre</th>
                    <th scope="col">Numero</th>
                    <th scope="col">Canal</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of peopleMasivo | search: filterPeople | paginate: { itemsPerPage: 10, currentPage: pageActual }" class="text-center">
                    <th scope="row">{{data.nombre_persona}}</th>
                    <td>{{data.numero_telefono}}</td>
                    <td><i class="fa fa-comments text-info"></i>&nbsp;SMS</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls *ngIf="peopleMasivo" class="w-100 text-center" (pageChange)="pageActual = $event" 
                              previousLabel="Anterior"
                              nextLabel="Siguiente">
        </pagination-controls>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle"><i class="fa fa-upload text-info"></i> Importar
            personas</h5>
          <button type="button" class="close" (click)="limpiarForm()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formularioImpor" >
                <div class="custom-file">
                  <input type="file" class="custom-file-input" (change)="onFileChange($event)" >
                  <label class="custom-file-label" for="customFile">{{nameArchivoCsv}}</label>
                  <div *ngIf="validatefileUpload !== ''" class="alert alert-danger mt-1" role="alert">
                        {{validatefileUpload}}
                 </div>
                </div>
                <div class="form-group mt-1">
                    <label for="message-text" class="col-form-label"><i
                            class="fa fa-tag text-info"></i>Delimitador</label>
                    <input type="text" class="form-control" formControlName="delimitador">
                    <div *ngIf="getError('delimitador')" class="alert alert-danger mt-1" role="alert">
                        Campo Requerido o Caracter invalido
                    </div>
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label"><i class="fa fa-globe text-info"></i>
                        Pais</label>
                    <select class="form-control" (change)="changepais($event)">
                        <option value="" disabled>Elige un pais</option>
                        <option *ngFor="let pais of paises" [value]="pais.id">
                            {{pais.NOMBRE_PAIS}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label"><i class="fa fa-tag text-info"></i> Nombre Tag</label>
                    <input type="text" class="input1" formControlName="tag">
                    <div *ngIf="getError('tag')" class="alert alert-danger mt-1" role="alert">
                            Campo Requerido
                        </div>
                </div>
              </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="limpiarForm()"
            data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-info" *ngIf="!formularioImpor.invalid && ArchivoVacio && extensionArhivo" data-dismiss="modal" (click)="sendImport(formularioImpor)">Enviar</button>
     </div>
      </div>
    </div>
  </div>