.config{
    height: 70px;
}
label{
    margin-bottom: 0% !important;
}

.dropdown-item{
    cursor: pointer;
}
.pointer{
    cursor: pointer;
}

.input1{
    width: 100%;
    padding: 2px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgb(23, 162, 184)
}