.panel{
    background-color: #ededed;
    padding: 5px; 
    height: 900px;
}
.config{
    height: 90px;
}
label{
    margin-bottom: 0% !important
}
.w-50{
    cursor: pointer;
}
.dropdown-item{
    cursor: pointer;
}
.c-pointer{
    cursor: pointer;
}

.input1{
    width: 100%;
    padding: 2px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgb(23, 162, 184)
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}