.panel{
    background-color: #ededed;
    padding: 5px; 
    height: 800px;
}
.config{
    height: 90px;
}
label{
    margin-bottom: 0% !important
}
.w-50{
    cursor: pointer;
}
.dropdown-item{
    cursor: pointer;
}
.c-pointer{
    cursor: pointer;
}