<div class="panel">
    <div class=row>
        <div class="col-4 offset-2 offset-sm-4 p-3 text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Punto de Entrada
                </button>
                <div class="dropdown-menu dropdown-menu-right animated fadeIn faster">
                    <button class="dropdown-item" type="button" (click)="clickUnicaAudiencia()">
                        <span class="fa fa-users text-info"></span> Unica audiencia
                    </button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" type="button" (click)="clickEntradaSms()">
                        <span class="fa fa-comments text-info"></span> Mensajes entrantes
                    </button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" type="button" (click)="clickEventoPersonas()">
                        <span class="fa fa-calendar text-info"></span> Eventos personas
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="row m-3">
        <div class="col-12 col-md-6 col-lg-4 ">
            <div  *ngIf="unicaAudiencia" class="bg-info overflow-hidden  rounded-lg text-white p-1 border border-warning config">
                <div class="float-left h-100 w-25 d-flex align-items-center justify-content-center">
                    <i class="fa fa-play"></i>
                </div>
                <div class="float-left h-100 w-50 p-1" data-toggle="modal" data-target="#ModalTags">
                    <label>Audiencia 1 vez</label>
                    <p class="text-justify"><small>{{segmentosTags}}</small></p>
                </div>
                <div class="float-left h-100 w-25 p-1 d-flex align-items-center justify-content-center">
                    <i class="fa fa-bars" data-toggle="dropdown" style="cursor: pointer"></i>
                    <div class="dropdown-menu animated fadeIn" >
                        <h6 class="dropdown-header">Selecione elemento</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="borrarUnicaAudiencia()"><i
                                class="fa fa-trash text-info"></i>&nbsp; Eliminar</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">CANALES</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="clickMensajeSms(1)"><i class="fa fa-comments text-info"></i>
                            Enviar Mensaje SMS</a>
                        <a class="dropdown-item" (click)="clickMensajeWhatsapp(1)"><i class="fa fa-whatsapp text-info"></i> Enviar mensaje WhatsApp</a>
                        <h6 class="dropdown-header">FUNCIONES</h6>
                        <a class="dropdown-item"><i class="fa fa-phone text-info"></i> Evaluar mensaje entrante</a>
                        <a class="dropdown-item"><i class="fa fa-file text-info"></i> Evaluar datos</a>
                    </div>
                </div>

            </div>
        </div>



        <div  class="col-12 col-md-6 col-lg-4 ">
            <div *ngIf="entradaSms" class="bg-info overflow-hidden  rounded-lg text-white p-1 border border-warning config">
                <div class=" float-left h-100 w-25 d-flex align-items-center justify-content-center ">
                    <i class="fa fa-play"></i>
                </div>
                <div class=" float-left h-100 w-50 p-1">
                    <label>Entrada SMS </label>
                    <p><small>Audiencia envia sms</small> </p>
                </div>
                <div class="float-left h-100 w-25 p-1 d-flex align-items-center justify-content-center">
                    <i class="fa fa-bars" data-toggle="dropdown" style="cursor: pointer"></i>
                    <div class="dropdown-menu animated fadeIn">
                        <h6 class="dropdown-header">Selecione elemento</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="borrarEntradaSms()"><i
                                class="fa fa-trash text-info"></i>&nbsp; Eliminar</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">CANALES</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="clickMensajeSms(2)"><i class="fa fa-comments text-info"></i>
                            Enviar Mensaje SMS</a>
                        <a class="dropdown-item" (click)="clickMensajeWhatsapp(2)" ><i class="fa fa-whatsapp text-info"></i> Enviar mensaje WhatsApp</a>
                        <h6 class="dropdown-header">FUNCIONES</h6>
                        <a class="dropdown-item"><i class="fa fa-phone text-info"></i> Evaluar mensaje entrante</a>
                        <a class="dropdown-item"><i class="fa fa-file text-info"></i> Evaluar datos</a>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 col-md-6 col-lg-4 ">
            <div  *ngIf="eventosPersonas" class="bg-info overflow-hidden  rounded-lg text-white p-1 border border-warning config">
                <div class=" float-left h-100 w-25 d-flex align-items-center justify-content-center ">
                    <i class="fa fa-play"></i>
                </div>
                <div class=" float-left h-100 w-50 p-1">
                    <label>Eventos personas</label>
                    <p><small>Audiencia perfil </small> </p>
                </div>
                <div class="float-left h-100 w-25 p-1 d-flex align-items-center justify-content-center">
                    
                    <i class="fa fa-bars" data-toggle="dropdown" style="cursor: pointer"></i>
                    <div class="dropdown-menu animated fadeIn" >
                        <h6 class="dropdown-header">Selecione elemento</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="borrarEventosPersonas()"><i
                                class="fa fa-trash text-info"></i>&nbsp; Eliminar</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">CANALES</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="clickMensajeSms(3)"><i class="fa fa-comments text-info"></i>
                            Enviar Mensaje SMS</a>
                        <a class="dropdown-item" (click)="clickMensajeWhatsapp(3)" ><i class="fa fa-whatsapp text-info"></i> Enviar mensaje WhatsApp</a>
                        <h6 class="dropdown-header">FUNCIONES</h6>
                        <a class="dropdown-item"><i class="fa fa-phone text-info"></i> Evaluar mensaje entrante</a>
                        <a class="dropdown-item"><i class="fa fa-file text-info"></i> Evaluar datos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>





    
    <div class="row m-3">
        <div  class="col-12 col-md-6 col-lg-4 "  >
            <app-mensaje-sms *ngIf="mensajeSmsAudienciaUnica" ideSmsUnica="smsUnica"  (eventoSms)="clickSmsHijo($event)"></app-mensaje-sms>
            <app-mensaje-whatsapp  *ngIf="mensajeWhatsappAudienciaUnica"></app-mensaje-whatsapp>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <app-mensaje-sms *ngIf="mensajeSmsEntradaSms" ideSmsUnica="smsEntrada" (eventoSms)="clickSmsHijo($event)"></app-mensaje-sms>
            <app-mensaje-whatsapp  *ngIf="mensajeWhatsappEntradaSms"></app-mensaje-whatsapp>
        </div>
        <div   class="col-12 col-md-6 col-lg-4">
            <app-mensaje-sms *ngIf="mensajeSmsEventosPersonas" ideSmsUnica="smsEventos" (eventoSms)="clickSmsHijo($event)"></app-mensaje-sms>
            <app-mensaje-whatsapp  *ngIf="mensajeWhatsappEventosPersonas"></app-mensaje-whatsapp>
        </div>
    </div>


    <div class="row m-3">
            <div  class="col-12 col-md-6 col-lg-4 "  >
                <app-mensaje-sms *ngIf="mensajeSmsAudienciaUnica1" ideSmsUnica="smsUnica1"  (eventoSms)="clickSmsHijo($event)"></app-mensaje-sms>
                <app-mensaje-whatsapp  *ngIf="mensajeWhatsappAudienciaUnica1"></app-mensaje-whatsapp>
            </div>
    
            <div class="col-12 col-md-6 col-lg-4">
                <app-mensaje-sms *ngIf="mensajeSmsEntradaSms1" ideSmsUnica="smsEntrada1" (eventoSms)="clickSmsHijo($event)"></app-mensaje-sms>
                <app-mensaje-whatsapp  *ngIf="mensajeWhatsappEntradaSms1"></app-mensaje-whatsapp>
            </div>
            <div   class="col-12 col-md-6 col-lg-4">
                <app-mensaje-sms *ngIf="mensajeSmsEventosPersonas1" ideSmsUnica="smsEventos1" (eventoSms)="clickSmsHijo($event)"></app-mensaje-sms>
                <app-mensaje-whatsapp  *ngIf="mensajeWhatsappEventosPersonas1"></app-mensaje-whatsapp>
            </div>
        </div>





</div>






<!-- Modal audiencia 1vez-->
<div class="modal fade" id="ModalTags" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Agregar Tags</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <div class="form-check">
                    <div class="row">
                        <div class="col-md-4 pt-3" *ngFor="let check of tags">
                            <input type="checkbox" name="miDataInterior"
                                (change)="$event.target.checked ? agregar(check) : quitar(check)">&nbsp;
                            {{check.nombre_tag}}
                        </div>
                    </div>
                </div> -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>